.72_20 { 
	overflow:hidden;
}.e72_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:1356px;
	height:3000px;
	position:absolute;
}.e72_21 { 
	width:1354px;
	height:116.701416015625px;
	position:absolute;
	left:2px;
	top:2901px;
}.e72_22 { 
	background-color:rgba(83.00000265240669, 56.000000461936, 44.000001177191734, 1);
	width:1354px;
	height:116.701416015625px;
	position:absolute;
	left:0px;
	top:0px;
}.e72_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:25.49167251586914px;
	height:27.63981056213379px;
	position:absolute;
	left:143.1455078125px;
	top:34.8056640625px;
}.e72_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:25.49167251586914px;
	height:27.63981056213379px;
	position:absolute;
	left:172.55908203125px;
	top:34.8056640625px;
}.e72_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:25.49167251586914px;
	height:27.63981056213379px;
	position:absolute;
	left:203.93359375px;
	top:34.8056640625px;
}.e72_27 { 
	width:32px;
	height:29px;
	position:absolute;
	left:169px;
	top:34.4501953125px;
	background-image:url(images/images_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e72_29 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:19.450237274169922px;
	position:absolute;
	left:634px;
	top:38.90045166015625px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e72_30 { 
	color:rgba(255, 255, 255, 1);
	width:298px;
	height:19.450237274169922px;
	position:absolute;
	left:261px;
	top:38.90045166015625px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e72_31 { 
	width:18.628530502319336px;
	height:19.450237274169922px;
	position:absolute;
	left:851.029296875px;
	top:38.90045166015625px;
}.e72_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.254737854003906px;
	height:8.914590835571289px;
	position:absolute;
	left:3.686896800994873px;
	top:5.470479965209961px;
}.e72_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.114538192749023px;
	height:13.801473617553711px;
	position:absolute;
	left:1.2569957971572876px;
	top:2.8244271278381348px;
}.e72_34 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:19.450237274169922px;
	position:absolute;
	left:878px;
	top:38.90045166015625px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.72_35 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e72_35 { 
	width:12.515100479125977px;
	height:8.445497512817383px;
	position:absolute;
	left:613px;
	top:44px;
}.e72_26 { 
	background-color:rgba(0, 0, 0, 1);
	width:13px;
	height:18.85714340209961px;
	position:absolute;
	left:150px;
	top:39.857269287109375px;
}.e72_28 { 
	background-color:rgba(0, 0, 0, 1);
	width:23px;
	height:20.571428298950195px;
	position:absolute;
	left:205px;
	top:38.000091552734375px;
}.e72_36 { 
	width:1500px;
	height:181.38999938964844px;
	position:absolute;
	left:0px;
	top:0px;
}.e72_37 { 
	background-color:rgba(178.00000458955765, 40.00000141561031, 48.000000938773155, 1);
	width:1500px;
	height:181.38999938964844px;
	position:absolute;
	left:0px;
	top:0px;
}.e72_38 { 
	width:193px;
	height:147px;
	position:absolute;
	left:36px;
	top:10px;
	background-image:url(images/highlands_coffee_cream_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e72_46 { 
	width:33px;
	height:25px;
	position:absolute;
	left:1243px;
	top:38px;
	background-image:url(images/flag_vn_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e72_47 { 
	width:33px;
	height:25px;
	position:absolute;
	left:1288px;
	top:38px;
	background-image:url(images/flag_en_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e72_48 { 
	background-color:rgba(255, 255, 255, 1);
	width:192px;
	height:25px;
	position:absolute;
	left:1036px;
	top:38px;
}.e72_49 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1204px;
	top:39px;
	background-image:url(images/png_clipart_magnifying_glass_computer_icons_magnifying_glass_glass_desktop_wallpaper_thumbnail_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e72_50 { 
	color:rgba(163.00000548362732, 169.00000512599945, 180.00000447034836, 1);
	width:51px;
	height:19px;
	position:absolute;
	left:1040px;
	top:41px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_205 { 
	width:982.6400146484375px;
	height:22.530000686645508px;
	position:absolute;
	left:395px;
	top:146px;
}.e123_206 { 
	color:rgba(255, 255, 255, 1);
	width:97.41053009033203px;
	height:22.530000686645508px;
	position:absolute;
	left:136.8232421875px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_207 { 
	color:rgba(255, 255, 255, 1);
	width:73.68232727050781px;
	height:22.530000686645508px;
	position:absolute;
	left:257.5498046875px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_208 { 
	color:rgba(255, 255, 255, 1);
	width:109.89906311035156px;
	height:22.530000686645508px;
	position:absolute;
	left:354.1318359375px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_209 { 
	color:rgba(255, 255, 255, 1);
	width:127.38299560546875px;
	height:22.530000686645508px;
	position:absolute;
	left:471.408203125px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_210 { 
	color:rgba(255, 255, 255, 1);
	width:121.13874053955078px;
	height:22.530000686645508px;
	position:absolute;
	left:622.029296875px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_211 { 
	color:rgba(255, 255, 255, 1);
	width:96.16168212890625px;
	height:22.530000686645508px;
	position:absolute;
	left:766.9014892578125px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_212 { 
	color:rgba(255, 255, 255, 1);
	width:96.16168212890625px;
	height:22.530000686645508px;
	position:absolute;
	left:886.4783325195312px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e123_213 { 
	color:rgba(255, 255, 255, 1);
	width:112.67817687988281px;
	height:20.74262046813965px;
	position:absolute;
	left:0px;
	top:1.2201541662216187px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e72_72 { 
	color:rgba(83.00000265240669, 56.000000461936, 44.000001177191734, 1);
	width:168px;
	height:54px;
	position:absolute;
	left:104px;
	top:318px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e72_100 { 
	color:rgba(83.00000265240669, 56.000000461936, 44.000001177191734, 1);
	width:134px;
	height:55px;
	position:absolute;
	left:87px;
	top:913px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e72_81 { 
	color:rgba(0, 0, 0, 1);
	width:631px;
	height:48px;
	position:absolute;
	left:104px;
	top:383px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e72_97 { 
	color:rgba(0, 0, 0, 1);
	width:746px;
	height:56px;
	position:absolute;
	left:106px;
	top:966px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e72_101 { 
	color:rgba(0, 0, 0, 1);
	width:719px;
	height:48px;
	position:absolute;
	left:120px;
	top:1702px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e72_102 { 
	color:rgba(83.00000265240669, 56.000000461936, 44.000001177191734, 1);
	width:68px;
	height:55px;
	position:absolute;
	left:107px;
	top:1647px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e72_105 { 
	color:rgba(83.00000265240669, 56.000000461936, 44.000001177191734, 1);
	width:95px;
	height:55px;
	position:absolute;
	left:126px;
	top:2372px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e72_103 { 
	color:rgba(0, 0, 0, 1);
	width:753px;
	height:71px;
	position:absolute;
	left:139px;
	top:2427px;
	font-family:Rhodium Libre;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e110_442 { 
	width:150px;
	height:59px;
	position:absolute;
	left:824px;
	top:383px;
}.ei110_442_110_367 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:65.625px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}.ei110_442_110_368 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:65.625px;
	height:59px;
	position:absolute;
	left:84.375px;
	top:0px;
}.ei110_442_110_372 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.8806915283203125px;
	height:12.133724212646484px;
	position:absolute;
	left:101.5625px;
	top:23.289474487304688px;
}.ei110_442_110_370 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.884502410888672px;
	height:12.133724212646484px;
	position:absolute;
	left:28.90625px;
	top:23.289474487304688px;
}.e110_526 { 
	width:160px;
	height:61px;
	position:absolute;
	left:893px;
	top:981px;
}.ei110_526_110_367 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}.ei110_526_110_368 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:61px;
	position:absolute;
	left:90px;
	top:0px;
}.ei110_526_110_372 { 
	background-color:rgba(0, 0, 0, 1);
	width:8.40606689453125px;
	height:12.545038223266602px;
	position:absolute;
	left:108.33333587646484px;
	top:24.078947067260742px;
}.ei110_526_110_370 { 
	background-color:rgba(0, 0, 0, 1);
	width:8.410135269165039px;
	height:12.545038223266602px;
	position:absolute;
	left:30.83333396911621px;
	top:24.078947067260742px;
}.e110_614 { 
	width:151px;
	height:52px;
	position:absolute;
	left:884px;
	top:1726px;
}.ei110_614_110_367 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:66.0625px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.ei110_614_110_368 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:66.0625px;
	height:52px;
	position:absolute;
	left:84.9375px;
	top:0px;
}.ei110_614_110_372 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.9332275390625px;
	height:10.694129943847656px;
	position:absolute;
	left:102.23958587646484px;
	top:20.526315689086914px;
}.ei110_614_110_370 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.937067031860352px;
	height:10.694129943847656px;
	position:absolute;
	left:29.09895896911621px;
	top:20.526315689086914px;
}.e115_254 { 
	width:151px;
	height:52px;
	position:absolute;
	left:903px;
	top:2472px;
}.ei115_254_110_367 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:66.0625px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.ei115_254_110_368 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:66.0625px;
	height:52px;
	position:absolute;
	left:84.9375px;
	top:0px;
}.ei115_254_110_372 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.9332275390625px;
	height:10.694129943847656px;
	position:absolute;
	left:102.23958587646484px;
	top:20.526315689086914px;
}.ei115_254_110_370 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.937067031860352px;
	height:10.694129943847656px;
	position:absolute;
	left:29.09895896911621px;
	top:20.526315689086914px;
}.e112_661 { 
	width:934px;
	height:396px;
	position:absolute;
	left:139px;
	top:2545px;
}.ei112_661_112_112 { 
	width:4206px;
	height:396px;
	position:absolute;
	left:0px;
	top:0px;
}.ei112_661_110_676 { 
	width:270px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_57.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_112_276 { 
	width:270px;
	height:270px;
	position:absolute;
	left:3272px;
	top:0px;
	background-image:url(images/image_67.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_678 { 
	width:270px;
	height:270px;
	position:absolute;
	left:324px;
	top:0px;
	background-image:url(images/image_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_112_277 { 
	width:270px;
	height:270px;
	position:absolute;
	left:3596px;
	top:0px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_680 { 
	width:270px;
	height:270px;
	position:absolute;
	left:664px;
	top:0px;
	background-image:url(images/image_59.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_112_278 { 
	width:270px;
	height:270px;
	position:absolute;
	left:3936px;
	top:0px;
	background-image:url(images/image_69.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_682 { 
	width:270px;
	height:270px;
	position:absolute;
	left:988px;
	top:0px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_684 { 
	width:270px;
	height:270px;
	position:absolute;
	left:1312px;
	top:0px;
	background-image:url(images/image_61.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_686 { 
	width:270px;
	height:270px;
	position:absolute;
	left:1636px;
	top:0px;
	background-image:url(images/image_62.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_688 { 
	width:270px;
	height:270px;
	position:absolute;
	left:1960px;
	top:0px;
	background-image:url(images/image_63.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_690 { 
	width:270px;
	height:270px;
	position:absolute;
	left:2284px;
	top:0px;
	background-image:url(images/image_64.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_692 { 
	width:270px;
	height:270px;
	position:absolute;
	left:2608px;
	top:0px;
	background-image:url(images/image_65.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_694 { 
	width:270px;
	height:270px;
	position:absolute;
	left:2932px;
	top:0px;
	background-image:url(images/image_66.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei112_661_110_695 { 
	color:rgba(0, 0, 0, 1);
	width:236px;
	height:23px;
	position:absolute;
	left:17px;
	top:281px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei112_661_112_279 { 
	color:rgba(0, 0, 0, 1);
	width:236px;
	height:23px;
	position:absolute;
	left:3291px;
	top:285px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei112_661_112_85 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:47px;
	top:315px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_280 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:3321px;
	top:319px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_86 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:66px;
	position:absolute;
	left:390px;
	top:281px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei112_661_112_281 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:66px;
	position:absolute;
	left:3664px;
	top:285px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei112_661_112_89 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:387px;
	top:314px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_282 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:3661px;
	top:318px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_90 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:27px;
	position:absolute;
	left:745px;
	top:288px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_283 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:27px;
	position:absolute;
	left:4019px;
	top:292px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_96 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:26px;
	position:absolute;
	left:735px;
	top:314px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_284 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:26px;
	position:absolute;
	left:4009px;
	top:318px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_97 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:33px;
	position:absolute;
	left:1057px;
	top:285px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei112_661_112_98 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:1045px;
	top:315px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_100 { 
	color:rgba(0, 0, 0, 1);
	width:241px;
	height:81px;
	position:absolute;
	left:1326px;
	top:285px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_101 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:1369px;
	top:342px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_102 { 
	color:rgba(0, 0, 0, 1);
	width:235px;
	height:54px;
	position:absolute;
	left:1653px;
	top:285px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_103 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:1685px;
	top:342px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_104 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:54px;
	position:absolute;
	left:2003px;
	top:279px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_105 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:54px;
	position:absolute;
	left:2008px;
	top:342px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_106 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:54px;
	position:absolute;
	left:2327px;
	top:285px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_107 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:27px;
	position:absolute;
	left:2341px;
	top:342px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_108 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:27px;
	position:absolute;
	left:2645px;
	top:291px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_109 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:54px;
	position:absolute;
	left:2656px;
	top:336px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_110 { 
	color:rgba(0, 0, 0, 1);
	width:224px;
	height:54px;
	position:absolute;
	left:2955px;
	top:291px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei112_661_112_111 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:2986px;
	top:336px;
	font-family:Open Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e118_544 { 
	width:953px;
	height:381px;
	position:absolute;
	left:77px;
	top:486px;
}.ei118_544_118_418 { 
	width:2906px;
	height:419px;
	position:absolute;
	left:0px;
	top:0px;
}.ei118_544_118_398 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:271px;
	position:absolute;
	left:1321px;
	top:0px;
}.ei118_544_118_399 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:271px;
	position:absolute;
	left:1985px;
	top:0px;
}.ei118_544_118_400 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:271px;
	position:absolute;
	left:1644px;
	top:0px;
}.ei118_544_118_406 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:271px;
	position:absolute;
	left:2617px;
	top:0px;
}.ei118_544_118_391 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:271px;
	position:absolute;
	left:0px;
	top:0px;
}.ei118_544_118_394 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:271px;
	position:absolute;
	left:664px;
	top:0px;
}.ei118_544_118_392 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:289px;
	height:271px;
	position:absolute;
	left:323px;
	top:0px;
}.ei118_544_115_404 { 
	color:rgba(0, 0, 0, 1);
	width:174px;
	height:31px;
	position:absolute;
	left:66px;
	top:313px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_405 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:31px;
	position:absolute;
	left:58px;
	top:356px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_406 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:66px;
	position:absolute;
	left:383px;
	top:313px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_407 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:381px;
	top:356px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_408 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:66px;
	position:absolute;
	left:704px;
	top:313px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_409 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:722px;
	top:356px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_410 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:66px;
	position:absolute;
	left:1027px;
	top:313px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_411 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:1044px;
	top:356px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_412 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:66px;
	position:absolute;
	left:1376px;
	top:313px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_413 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:1385px;
	top:356px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_414 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:66px;
	position:absolute;
	left:1690px;
	top:320px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_415 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:1708px;
	top:362px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_416 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:66px;
	position:absolute;
	left:2062px;
	top:320px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_417 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:2049px;
	top:362px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_418 { 
	color:rgba(0, 0, 0, 1);
	width:259px;
	height:66px;
	position:absolute;
	left:2316px;
	top:320px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_419 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:2365px;
	top:359px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_115_420 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:66px;
	position:absolute;
	left:2642px;
	top:320px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_544_115_421 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:2681px;
	top:365px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_544_118_390 { 
	width:289px;
	height:271px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_70.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_402 { 
	width:289px;
	height:271px;
	position:absolute;
	left:1321px;
	top:0px;
	background-image:url(images/image_74.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_410 { 
	width:289px;
	height:271px;
	position:absolute;
	left:2617px;
	top:0px;
	background-image:url(images/image_78.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_396 { 
	width:289px;
	height:271px;
	position:absolute;
	left:664px;
	top:0px;
	background-image:url(images/image_72.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_403 { 
	width:289px;
	height:271px;
	position:absolute;
	left:1985px;
	top:0px;
	background-image:url(images/image_75.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_393 { 
	width:289px;
	height:271px;
	position:absolute;
	left:323px;
	top:0px;
	background-image:url(images/image_71.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_404 { 
	width:289px;
	height:271px;
	position:absolute;
	left:1644px;
	top:0px;
	background-image:url(images/image_76.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_397 { 
	width:289px;
	height:271px;
	position:absolute;
	left:980px;
	top:0px;
	background-image:url(images/image_73.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_405 { 
	width:289px;
	height:271px;
	position:absolute;
	left:2301px;
	top:0px;
	background-image:url(images/image_77.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_395 { 
	width:289px;
	height:271px;
	position:absolute;
	left:980px;
	top:0px;
	background-image:url(images/rectangle_61.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_544_118_401 { 
	width:289px;
	height:271px;
	position:absolute;
	left:2301px;
	top:0px;
	background-image:url(images/rectangle_65.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e118_691 { 
	width:1140px;
	height:493px;
	position:absolute;
	left:22px;
	top:1088px;
}.ei118_691_118_624 { 
	width:2424px;
	height:491px;
	position:absolute;
	left:49px;
	top:0px;
}.ei118_691_118_602 { 
	width:301px;
	height:369px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/rectangle_72.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_691_118_610 { 
	width:311px;
	height:369px;
	position:absolute;
	left:769px;
	top:0px;
	background-image:url(images/rectangle_74.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_691_118_607 { 
	width:333px;
	height:369px;
	position:absolute;
	left:366px;
	top:0px;
	background-image:url(images/rectangle_73.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_691_118_611 { 
	width:373px;
	height:369px;
	position:absolute;
	left:1211px;
	top:0px;
	background-image:url(images/rectangle_75.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_691_118_617 { 
	width:373px;
	height:369px;
	position:absolute;
	left:1631px;
	top:0px;
	background-image:url(images/rectangle_76.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_691_118_620 { 
	width:373px;
	height:369px;
	position:absolute;
	left:2051px;
	top:0px;
	background-image:url(images/rectangle_77.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_691_118_603 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:66px;
	position:absolute;
	left:0px;
	top:375px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_691_118_606 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:87px;
	top:416px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_691_118_608 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:66px;
	position:absolute;
	left:457px;
	top:382px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_691_118_609 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:477px;
	top:422px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_691_118_612 { 
	color:rgba(0, 0, 0, 1);
	width:217px;
	height:66px;
	position:absolute;
	left:818px;
	top:389px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_691_118_613 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:844px;
	top:427px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_691_118_614 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:66px;
	position:absolute;
	left:1299px;
	top:398px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_691_118_616 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:1317px;
	top:437px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_691_118_618 { 
	color:rgba(0, 0, 0, 1);
	width:265px;
	height:66px;
	position:absolute;
	left:1685px;
	top:398px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_691_118_619 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:1737px;
	top:437px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_691_118_623 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:54px;
	position:absolute;
	left:2157px;
	top:437px;
	font-family:Open Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei118_691_118_621 { 
	color:rgba(0, 0, 0, 1);
	width:242px;
	height:66px;
	position:absolute;
	left:2117px;
	top:398px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e118_883 { 
	width:1105px;
	height:520px;
	position:absolute;
	left:83px;
	top:1793px;
}.ei118_883_118_784 { 
	width:2765px;
	height:626px;
	position:absolute;
	left:0px;
	top:0px;
}.ei118_883_118_763 { 
	width:365px;
	height:414px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_78.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_883_118_764 { 
	width:365px;
	height:414px;
	position:absolute;
	left:400px;
	top:0px;
	background-image:url(images/rectangle_79.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_883_118_765 { 
	width:365px;
	height:414px;
	position:absolute;
	left:800px;
	top:0px;
	background-image:url(images/rectangle_80.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_883_118_766 { 
	width:365px;
	height:487px;
	position:absolute;
	left:1200px;
	top:0px;
	background-image:url(images/rectangle_81.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_883_118_767 { 
	width:365px;
	height:487px;
	position:absolute;
	left:1600px;
	top:0px;
	background-image:url(images/rectangle_82.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_883_118_768 { 
	width:365px;
	height:487px;
	position:absolute;
	left:2000px;
	top:0px;
	background-image:url(images/rectangle_83.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_883_118_781 { 
	width:365px;
	height:487px;
	position:absolute;
	left:2400px;
	top:0px;
	background-image:url(images/rectangle_84.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei118_883_118_769 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:66px;
	position:absolute;
	left:80px;
	top:447px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_770 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:33px;
	position:absolute;
	left:96px;
	top:487px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_771 { 
	color:rgba(0, 0, 0, 1);
	width:178px;
	height:66px;
	position:absolute;
	left:501px;
	top:447px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_772 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:66px;
	position:absolute;
	left:493px;
	top:487px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_774 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:66px;
	position:absolute;
	left:893px;
	top:487px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_776 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:66px;
	position:absolute;
	left:1286px;
	top:553px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_780 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:66px;
	position:absolute;
	left:2086px;
	top:553px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_783 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:66px;
	position:absolute;
	left:2486px;
	top:553px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_773 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:66px;
	position:absolute;
	left:893px;
	top:447px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_775 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:66px;
	position:absolute;
	left:1285px;
	top:513px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_777 { 
	color:rgba(0, 0, 0, 1);
	width:304px;
	height:66px;
	position:absolute;
	left:1631px;
	top:513px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_778 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:66px;
	position:absolute;
	left:1686px;
	top:560px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_779 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:66px;
	position:absolute;
	left:2033px;
	top:506px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.ei118_883_118_782 { 
	color:rgba(0, 0, 0, 1);
	width:237px;
	height:66px;
	position:absolute;
	left:2464px;
	top:513px;
	font-family:Open Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}